
a{
    text-decoration: none;
    color: #000000;
}

.slider {
    position: relative;
}

.title-slider {
    position: absolute;
    top: 30%;
    right: 20%;
}


.position-acc {
    border-bottom: 1px solid #ffffff;
    bottom: 10%;
    width: 50%;
    text-align: center;
}

.blog-content {
    bottom: -80%;
}

.blog-time {
    top: 10%;
    left: 10%;
    color: white;
}
.ubscribe {
    margin-top: 250px;
}

.logo-footer {
    font-size: 48px;
}

.size-logo{
    font-size: 26px;
}

@media screen and (max-width: 1200px){
    .khung-blog {
        height: 600px;
    }
    .blog-content {
        bottom: 5%;
    }
    .ubscribe {
        margin-top: 50px;
    }

}